Repository aigoncharov/flux-action-class: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

.lintstagedrc:

{
  "*.{js,ts,tsx,json,css,less,yml}": [
    "./node_modules/.bin/prettier --write",
    "git add"
  ],
  "*.md": [
    "./node_modules/.bin/doctoc",
    "./node_modules/.bin/prettier --write",
    "git add"
  ]
}

Add lint-staged
  package-lock.json
  package.json
Due: ./node_modules/.bin/prettier --write

Remove static fields
  index.test.ts
  index.ts
  package-lock.json
  package.json
Due: ./node_modules/.bin/prettier --write

Add static type and tests
  index.test.ts
  index.ts
Due: ./node_modules/.bin/prettier --write

Add test coverage
  .gitignore
  .huskyrc
  .lintstagedrc
  .npmignore
  .nycrc
  .travis.yml
  mocha.opts
  package-lock.json
  package.json
  tsconfig.prod.json
Due: ./node_modules/.bin/prettier --write

Add documentation
  README.md
  package.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Add example on overriding prefix
  README.md
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Update .npmignore
  .npmignore
Due: none

Update description
  README.md
  package.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Add IActionStandardStatic interface
  index.ts
  package.json
Due: ./node_modules/.bin/prettier --write

Bug Fixed: Redux integration
  .nycrc
  index.test.ts
  index.ts
  package-lock.json
  package.json
Due: ./node_modules/.bin/prettier --write

Refactor tests
  index.test.ts
Due: ./node_modules/.bin/prettier --write

Add export of ActionStandard's constructor type
  index.ts
  package.json
Due: ./node_modules/.bin/prettier --write

Add a note about using with `switch-case`
  README.md
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Add a link to the issue
  README.md
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Feature Added: `setPrefix`
  .vscode/settings.json
  README.md
  index.test.ts
  index.ts
  package.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Migrate to jest
  .gitignore
  .npmignore
  .nycrc
  .travis.yml
  README.md
  index.test.ts
  jest.config.js
  mocha.opts
  package-lock.json
  package.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Add coverage badge
  README.md
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Add "Usage in production.Minification" section
  .gitignore
  README.md
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc

Update README
  README.md
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/doctoc
